.signup {
  // background: #1A2038;
   background: white;
  

  .signup-card {
    // max-width: 800px;
    width: 350px;
    border-radius: 12px !important;
    img {
      width: 200px;
    }
  }
}
